.main-title {
  position: relative;
  font-family: "studio_feixen_sans_trialbook", sans-serif;

  /* Text gradient effect */
  background: linear-gradient(to right, #003bfd 10%, #02fff0 40%, #003bfd 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.presentation p {
  font-size: 2rem;
  margin: 0;
}
