.shooting-star {
  position: absolute;
  top: 200px;
  left: 600px;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 10s 3s ease-out infinite backwards;
}
.shooting-star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(220deg) translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20%,
  100% {
    transform: rotate(220deg) translateX(-1200px);
    opacity: 0;
  }
}
