:root {
  --socialmedia-tag-gradientFirst: cyan;
  --socialmedia-tag-gradientSecond: rgb(0, 140, 255);
}
.socialmedia-tag {
  position: relative;
  cursor: pointer;
  /* Text gradient */
  background: linear-gradient(
    to right,
    var(--socialmedia-tag-gradientFirst) 35%,
    var(--socialmedia-tag-gradientSecond)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.socialmedia-tag svg {
  filter: brightness(1.3);
  color: var(--socialmedia-tag-gradientFirst);
}
.socialmedia-tag::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 30px;
  height: 1px;
  border-radius: 10px;
  width: 0;
  background: linear-gradient(
    to left,
    var(--socialmedia-tag-gradientFirst),
    var(--socialmedia-tag-gradientSecond)
  );
  transition: width 0.2s;
}
.socialmedia-tag:hover::after {
  width: 70%;
}
