@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "studio_feixen_sans_vf_trial";
  src: url("/src/assets/fonts/studiofeixensansvftrialgx-webfont.woff2")
      format("woff2"),
    url("/src/assets/fonts/studiofeixensansvftrialgx-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "studio_feixen_sans_trialbold";
  src: url("/src/assets/fonts/studiofeixensanstrial-bold-webfont.woff2")
      format("woff2"),
    url("/src/assets/fonts/studiofeixensanstrial-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: bold;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h2,
h3,
p,
div {
  position: relative;
  z-index: 3;
}
body {
  font-family: "studio_feixen_sans_vf_trial", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}
.title {
  font-size: 2.7rem;
  padding-bottom: 20px;
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
  /* Text gradient effect */
  background: linear-gradient(to right, cyan 45%, blue 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title.reverse {
  background: linear-gradient(to right, blue 45%, cyan 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
